[package]
name = "cfg_bin_text_editor"
version = "0.5.0"
edition = "2021"

[dependencies]
clap = { version = "4", features = ["derive"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
encoding_rs = "0.8"
anyhow = "1"
